@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p class="align-content-md-center">Hi, @User.Identity.Name !</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This simple project for create, read, update, delete entity Plese Authorizate </p >
    </div>
}
